<div class="w-full">
  <div class="flex flex-row gap-3 pb-3 sm:pb-3 md:pb-3 lg:p-3 xl:p-3">
    <p-button
      icon="pi pi-angle-left"
      routerLink="home"
      class="back-button"
      [text]="true"
      size="large"
      severity="help"
      pTooltip="Voltar para Home"
      tooltipPosition="bottom"
    />
    <div class="flex flex-row align-items-center gap-2">
      <span class="title-1 text-3xl">Search</span>
      <span class="title-2 text-3xl">d_evs</span>
    </div>
  </div>
  <div
    class="flex flex-column sm:flex-column md:flex-column lg:flex-row xl:flex-row justify-content-center align-items-start p-2 gap-4 sm:gap-4 md:gap-4 lg:gap-0 xl:gap-0"
  >
    <div
      class="flex flex-column gap-4 w-full sm:w-full md:w-full lg:w-2 xl:w-2 pr-0 sm:pr-0 md:pr-0 lg:pr-6 xl:pr-6"
    >
      <div class="flex flex-row gap-3">
        <div>
          <img
            [src]="perfil?.avatar_url"
            class="user-img"
            *ngIf="perfil?.avatar_url"
          />
          <i
            class="pi pi-user"
            style="font-size: 2.5rem"
            *ngIf="!perfil?.avatar_url"
          ></i>
        </div>
        <div class="flex flex-column justify-content-start gap-2">
          <span class="perfil-name" *ngIf="perfil?.name">
            {{ perfil?.name }}
          </span>
          <span class="perfil-name" *ngIf="!perfil?.name">
            Usuario não encontrado
          </span>
          <span class="text-sm login">{{ "@" + perfil?.login }}</span>
        </div>
      </div>

      <div>
        <span class="perfil-desc">{{ perfil?.bio || "--" }}</span>
      </div>

      <div
        class="flex flex-wrap sm:flex-row md:flex-row lg:flex-column xl:flex-column gap-3 sm:gap-3 md:gap-3 lg:gap-1 xl:gap-1"
      >
        <div class="flex flex-row gap-3">
          <i class="pi pi-users" [style]="{ color: '#4a5568' }"></i>
          <span class="font-infos">{{ perfil?.followers }} seguidores</span>
        </div>
        <div class="flex flex-row gap-3 pb-4">
          <i class="pi pi-heart" [style]="{ color: '#4a5568' }"></i>
          <span class="font-infos">{{ perfil?.following }} seguindo</span>
        </div>
        <div class="flex flex-row gap-3" *ngIf="perfil?.company">
          <i class="pi pi-briefcase" [style]="{ color: '#4a5568' }"></i>
          <span class="font-infos" pTooltip="Local de trabalho">
            {{ perfil?.company || "--" }}</span
          >
        </div>
        <div class="flex flex-row gap-3" *ngIf="perfil?.location">
          <i class="pi pi-map-marker" [style]="{ color: '#4a5568' }"></i>
          <span class="font-infos" pTooltip="Cidade">{{
            perfil?.location || "--"
          }}</span>
        </div>
        <div class="flex flex-row gap-3" *ngIf="perfil?.email">
          <i class="pi pi-envelope" [style]="{ color: '#4a5568' }"></i>
          <span class="font-infos" pTooltip="Email de contato">{{
            perfil?.email || "--"
          }}</span>
        </div>
        <div
          class="flex flex-row gap-3 cursor-pointer"
          (click)="goToBlog(perfil)"
          *ngIf="perfil?.blog"
        >
          <i class="pi pi-link" [style]="{ color: '#4a5568' }"></i>
          <span class="font-infos" pTooltip="Blog pessoal">{{
            perfil?.blog || "--"
          }}</span>
        </div>
        <div
          class="flex flex-row gap-3 cursor-pointer"
          (click)="goToTwitter(perfil)"
          *ngIf="perfil?.twitter_username"
        >
          <i class="pi pi-twitter" [style]="{ color: '#4a5568' }"></i>
          <span class="font-infos" pTooltip="Twitter">{{
            perfil?.twitter_username || "--"
          }}</span>
        </div>
      </div>

      <p-button
        label="Github"
        class="contact-button"
        [style]="{ background: '#8c19d2', width: '100%', height: '48px' }"
        (click)="goToGithub(perfil)"
        pTooltip="Pefil no github"
        tooltipPosition="bottom"
      ></p-button>
    </div>

    <div
      class="flex flex-column w-full sm:w-full md:w-full lg:w-6 xl:w-6"
      *ngIf="repositorys.length > 0"
    >
      <div *ngFor="let repo of repositorys">
        <div class="flex flex-column gap-3 px-2">
          <span
            class="perfil-name cursor-pointer"
            (click)="goToRepository(repo)"
            >{{ repo?.name }}</span
          >
          <span class="perfil-desc">{{ repo?.description }}</span>
          <div class="flex flex-row align-items-center gap-3">
            <div class="flex flex-row gap-1">
              <i class="pi pi-star" [style]="{ color: '#4a5568' }"></i>
              <span class="star-count">{{ repo?.stargazers_count || 0 }}</span>
            </div>

            <i
              class="pi pi-circle-fill"
              [style]="{ color: '#4a5568', fontSize: '5px' }"
            ></i>
            <div class="star-count">
              Atualizado há {{ repo?.diasPassados }} dias
            </div>
          </div>
        </div>
        <p-divider></p-divider>
      </div>
    </div>

    <div
      *ngIf="repositorys.length === 0"
      class="flex justify-content-center align-items-center justify-content-center h-full w-full sm:w-full md:w-full lg:w-6 xl:w-6"
    >
      <span class="no-repository">Sem Repositório</span>
    </div>
  </div>
</div>
