@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.title-1 {
  font-family: "Nunito";
  font-weight: 500;
  color: #0069ca;
}

.title-2 {
  font-family: "Nunito";
  font-weight: 500;
  color: #8c19d2;
}

.perfil-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.font-infos {
  font-family: "Inter";
  color: #4a5568;
  font-weight: 400;
  font-size: 14px;
}

/* :host ::ng-deep .p-button {
  background: #8c19d2;
  height: 48px;
  width: 100%;
} */

.login {
  color: #a0aec0;
}

.perfil-desc {
  font-family: "Inter";
  font-size: 16px;
  color: #4a5568;
  line-height: 24px;
}

.perfil-name {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
}

.star-count {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: #4a5568;
}

.no-repository {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 500;
  color: #4a5568;
}

.back-button {
  width: 50px;
  height: 50px;
}

.background {
  background: #cd97ee;
}
